* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /*variáveis*/
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7; 
}

body.dark-blue {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.names {
  display: flex;
  margin-top: 35px;
  margin-bottom: 100px;
}


.name1 {
margin-left: 10px;
margin-right: 10px;
color: black;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: white; /* hex: 0 - F */
text-transform: uppercase;
font-size: 14px;
border-radius: 6px;
opacity: 0.9;
  }

.name2 {
margin-left: 10px;
margin-right: 10px;
color: black;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: white; /* hex: 0 - F */
text-transform: uppercase;
font-size: 14px;
border-radius: 6px;
opacity: 0.9;
}

.name3 {
margin-left: 10px;
margin-right: 10px;
color: black;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: white; /* hex: 0 - F */
text-transform: uppercase;
font-size: 14px;
border-radius: 6px;
opacity: 0.9;
}

.name4 {
margin-left: 10px;
margin-right: 10px;
color: black;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: white; /* hex: 0 - F */
text-transform: uppercase;
font-size: 14px;
border-radius: 6px;
opacity: 0.9;
}

.container {
  text-align: center;
  width: 500px;
  margin: 100px auto;
  margin-bottom: 5px;
  justify-content: space-around;
}

@media screen and (max-width:768px){
  .container{
    width:100%;
    flex-direction: column;
  }
}

img {
  width: 100%;
  margin-bottom: 25px;
}

img.avatar {
  width: 250px;
  height: 250px;
  padding: 1.7px;
  border: var(--primary-color) solid 4px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
  margin-top: 2px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color); /* hex: 0 - F */
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

/* pseudo-class */
ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  margin-top: 70px;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a{
  color: var(--text-color);
}
